In [1]:
import numpy as np
import pandas as pd

In [16]:
#I combined both the dictionary and list requirments by making a dictionary of lists! 

#Dictionary of a bunch of harry potter characters, with lists of what classes they are taking.
studentDict = {"Harry Potter" : ["Defence Aganst The Dark Arts", "Transfigurations", "Astronomy"], 
               "Ron Weasely": ["Transfigurations", "Charms"],
               "Hermionie Granger" : ["Transfigurations", "Charms", "Potions", "A History of Magic", "Defence Against the Dark Arts" , "Astronomy", "Herbology"],
               "Luna Lovegood": ["Herbology", "Astronomy"]
              }

In [17]:
for course in studentDict["Harry Potter"]:
    print(course)

Defence Aganst The Dark Arts
Transfigurations
Astronomy

In [18]:
#Print out a dataframe with pandas of the classes each student is taking.
items = studentDict.items()
pd.DataFrame(items)

                   0                                                  1
0       Harry Potter  [Defence Aganst The Dark Arts, Transfiguration...
1        Ron Weasely                         [Transfigurations, Charms]
2  Hermionie Granger  [Transfigurations, Charms, Potions, A History ...
3      Luna Lovegood                             [Herbology, Astronomy]

In [19]:
#Takes a dictionary of students and a class name as parameters, prints out of list of which students are taking the given class
def searchForClasses(studentDict, className):
    for student in studentDict:
        for course in studentDict[student]:
            if course == className:
                print(student)

In [20]:
searchForClasses(studentDict, "Transfigurations")

Harry Potter
Ron Weasely
Hermionie Granger